{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
  <form cssClass="form-horizontal" method="post" action="{{ url_for('stock.sync') }}">
    <button type="submit" class="btn btn-primary">Sync stock list</button>
  </form>
  <form cssClass="form-horizontal" method="post" action="{{ url_for('stock.crawl_all_daily_summaries') }}">
    <button type="submit" class="btn btn-primary">Crawl all daily summary</button>
  </form>
{% endblock %}