{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
  <form cssClass="form-horizontal" method="post" action="{{ url_for('sync-admin.sync_account') }}">
    <button type="submit" class="btn btn-primary">Sync account</button>
  </form>
  <form cssClass="form-horizontal" method="post" action="{{ url_for('sync-admin.sync_stock') }}">
    <button type="submit" class="btn btn-primary">Sync stock list</button>
  </form>
  </br>
  <form cssClass="form-horizontal" method="post" action="{{ url_for('sync-admin.sync_all_daily_summaries') }}">
    <button type="submit" class="btn btn-primary">Sync all daily summary</button>
  </form>

  <form cssClass="form-horizontal" method="post" action="{{ url_for('sync-admin.sync_holding_summary') }}">
    <button type="submit" class="btn btn-primary">Sync holding summary</button>
  </form>
{% endblock %}